services:
  auto-abuse-id:
    image: docker-dcu-local.artifactory.secureserver.net/auto_abuse_id:dev
    environment:
      REDIS: redis
      sysenv: dev
      DB_PASS: ${DB_PASS}
      BROKER_URL: amqp://guest@rabbitmq:5672//
      DISABLESSL: 'True'
    ports:
      - 127.0.0.1:5000:5000/tcp
    links:
      - redis:redis
      - rabbitmq:rabbitmq
    depends_on:
      - rabbitmq
      - redis

  dcu-classifier:
    image: docker-dcu-local.artifactory.secureserver.net/dcu-classifier:dev
    environment:
      sysenv: dev
      LOG_LEVEL: DEBUG
      DB_PASS: ${DB_PASS}
      WORKER_MODE: 'classify'
      ML_API_CERT: /tmp/certs/apiuser.cmap.int.dev-godaddy.com.crt
      ML_API_KEY: /tmp/certs/apiuser.cmap.int.dev-godaddy.com.key
      BROKER_URL: amqp://guest@rabbitmq:5672//
      DISABLESSL: 'True'
    volumes:
      - /PATH_TO_YOUR_CERTS_DIRECTORY/:/tmp/certs/
    links:
      - rabbitmq:rabbitmq
    depends_on:
      - rabbitmq

  dcu-scanner:
    image: docker-dcu-local.artifactory.secureserver.net/dcu-classifier:dev
    environment:
      sysenv: dev
      LOG_LEVEL: DEBUG
      DB_PASS: ${DB_PASS}
      WORKER_MODE: 'scan'
      ML_API_CERT: /tmp/certs/apiuser.cmap.int.dev-godaddy.com.crt
      ML_API_KEY: /tmp/certs/apiuser.cmap.int.dev-godaddy.com.key
      API_TOKEN: ${API_TOKEN}
      ABUSE_API_CREATE_URL: https://abuse.api.int.dev-godaddy.com/v1/abuse/tickets
      BROKER_URL: amqp://guest@rabbitmq:5672//
      DISABLESSL: 'True'
    volumes:
      - /PATH_TO_YOUR_CERTS_DIRECTORY/:/tmp/certs/
    links:
      - rabbitmq:rabbitmq
    depends_on:
      - rabbitmq

  rabbitmq:
    image: rabbitmq:3.8.14-management
    ports:
      - 5672:5672
      - 15672:15672

  redis:
    image: redis:6.2.1
    ports:
      - 6379:6379